<h2>Edit Settings</h2>

<%= form_for @user, html: { multipart: true } do |f| %>
  
  <div class="row">
    <div class="two columns">
      <%= f.label :name, "Username", :class => "username" %>
    </div>
    <div class="two columns">
      <%= f.text_field :name, :disabled => "true" %>
    </div>
    <div class="two columns">
      <%= f.label :email, "Email", :title => 'Enter your email address.' %>
    </div>
    <div class="two columns">
      <%= f.text_field :email, :title => 'Enter your email address.' %>
    </div>
    <div class="two columns">
      <%= f.label :dob, "Date of birth", :title => 'Enter your date of birth.' %>
    </div>
    <div class="two columns">
      <%= f.date_field :dob, :required => true, :autofocus => true, :title => 'Enter your date of birth.' %>
    </div>
  </div>
  <div class="row">
    <div class="two columns">
      <%= f.label :gender, :title => 'Please select your gender.' %>
    </div>
    <div class="two columns">
      <%= f.select :gender, [['Male','Male'],['Female','Female']], :required => true, :include_blank => true %>
    </div>
    <div class="two columns">
      <%= f.label :question, "What do you want to ask?" %>
    </div>
    <div class="two columns">
      <%= f.text_field :question, :placeholder => 'Enter the question for your matches...' %>
    </div>
    <div class="two columns">
      <%= f.label :question_time, "Time to answer?" %>
    </div>
    <div class="two columns">
      <%= f.number_field :question_time, :min => '10', :max => '60' %>
    </div>
  </div>
  <div class="row">
    <div class="two columns">
      <%= f.label :sexual_preference, "Sexual preference?" %>
    </div>
    <div class="two columns">
      <%= f.select :sexual_preference, [['Male','Male'],['Female','Female']], :include_blank => true %>
    </div>
    <div class="two columns">
      <%= f.label :age_min, "Minimum Age" %>
    </div>
    <div class="two columns">
      <%= f.number_field :age_min, :min => '18', :max => '99' %>
    </div>
    <div class="two columns">
      <%= f.label :age_min, "Maximum Age" %>
    </div>
    <div class="two columns">
      <%= f.number_field :age_max, :min => '18', :max => '99' %>
    </div>
  </div>
  <div class="row">
    <div class="two columns">
      <%= f.label :distance_max, "Search distance" %>
    </div>
    <div class="two columns">
      <%= f.number_field :distance_max, :min => '1', :max => '500' %>
    </div>
    <div class="two columns">
      <%= f.label :photo, "Photo URL" %>
    </div>
    <div class="two columns">
      <%  f.text_field :photo %>
    </div>
  </div>
</div>

<%= f.submit "Update Profile", :class => "update-profile" %>
<% end %>

