<!DOCTYPE html>
<html>
<head>
  <title>Qatch</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body>

<%== nav_menu %>

<%= yield %>

<div class="container">
  
  <div id="browsing">
    

  </div>

  <div id="messages">
    

  </div>
  
  <div id="questions">
    

  </div>

  <div id="conversation">
    


  </div>

  



</div>

</body>
</html>
